{% load static %}
<footer class="container-fluid p-5 footer">
    <div class="container text-light">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    {% now "Y" %} © {{site_setup.title}} -
                      <a href="https://portfolio-pink-omega-63.vercel.app/">
                        <strong>Portfólio Guilherme Camargo</strong>
                      </a>- Todos os direitos reservados.
                  </div>
            </div>
        </div>
    </div>
</footer>

<script src={% static "assets/bootstrap/js/jquery-3.2.1.slim.min.js" %}></script>
<script src={% static "assets/bootstrap/js/popper.min.js" %}></script>
<script defer src={% static "assets/font-awesome/js/all.js" %}></script>
<script src={% static "assets/custom/js/scripts.js" %}></script>
<script src={% static "assets/bootstrap/js/bootstrap.min.js" %}></script>