body {
    background: linear-gradient(to right, #f5f5f5cc, #f5f5f5cc), url(https://servidor-estatico-tan.vercel.app/common-bg.svg);
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    max-width: 100vw;
}

main {
    padding: 2rem;
}

.card {
    border: 1px solid hsl(#e7e7e7);
    position: relative !important;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transition: scale 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.card:hover {
    scale: 1.02;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    font-size: 14px;
}

.card-title {
    font-size: 17px;
}

.card-body span {
    font-size: 16px;
}

.button {
    background-color: #0e869b;
    color: #fff;
    transition: all ease-in-out .3s;
}

.button:hover {
    opacity: 80%;
    color: #fff;
    transition: all ease-in-out .3s;
}

.header {
    font-weight: bold;
    background-color: transparent;
}

.header-title {
    padding-right: 36rem;
    padding-top: 1rem;
    text-shadow: 1px 1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    color: #fff;
    transition: all ease-in-out .3s;
    padding-left: 20px;
}

.nav-link {
    color: #fff;
    transition: all ease-in-out .3s;

}

.nav-item {
    padding-right: 20px;
    padding-top: 1rem;
    text-shadow: 1px 1px black;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-item {
    text-shadow: none;
    font-weight: 500;
    color: #fff;
}

.dropdown-item:hover {
    color: #000;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #ccc !important;
}

.hero {
    height: 520px;
    background-image: url(https://servidor-estatico-tan.vercel.app/gsports.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 15%;
    background-color: #192a56;
    transition: ease-in-out .3s;
}

/* Search */
.search-form {
    width: 100%;
}

.search-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 0;
    position: relative;
    isolation: isolate;
    max-width: 30rem;
    width: 100%;
    margin-inline: auto;
    font-size: inherit;
    margin-bottom: 40px;
}

.search-input {
    width: 100%;
    background-color: white;
    border: 2px solid white;
    font-size: 16px;
    padding: 8px;
    padding-inline-end: 20px;
    outline: none;
    border-radius: 4px;
}

.search-input::placeholder {
    color: gray;
}

.search-input:focus {
    border: 2px solid white;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    background: white;
    font-size: 16px;
    padding-inline: 16px;
    color: gray;
    outline: none;
    border-radius: 4px;
}

.search-btn:hover {
    outline: none;
}

.search-content:focus-within .search-btn {
    color: #0e869b;
}

.sr-only {
    border: 0;
    padding: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.size {
    width: 320px;
    padding: 10px;
}

.table {
    border-spacing: 0;
    border-collapse: unset;
}

.table th,
.table td {
    border-top: 1px solid #192a56;
}

.container-update {
    margin: 0 auto;
    max-width: 520px;
    width: 100%;
}

.footer {
    background-color: #0e869b;
}

.footer a {
    color: #fff;
    transition: all ease-in-out .2s;
}

.footer a:hover {
    color: #ccc;
    transition: all ease-in-out .2s;
    text-decoration: none;
}

.text-size {
    height: 30px;
}

.center {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.page-item.active .page-link {
    background-color: #0e869b;
    border-color: #0e869b;
}

.product-price-block {
    font-size: 1.5rem;
}

.product-price {
    font-size: 1.5rem;
}

.product-old-price {
    text-decoration: line-through;
    font-size: 1rem;
}

.border-top-light-custom {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .navbar {
        gap: 200px;
        padding-right: 0;
    }
}

@media (min-width: 65em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

ul.errorlist {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    font-size: 13px;
    color: red;
    display: block;
}

ul.errorlist li {
    display: block;
    font-weight: bold;
}

.form-group textarea {
    width: 100%;
}

.nav-cart,
.nav-cart a {
    color: #fff;
    text-decoration: none;
}

.cart-img {
    max-width: 150px;
}

@media screen and (max-width: 429px) {
    body .overlay {
        display: none;
    }

    main {
        padding: 1rem !important;
    }

    .hero {
        height: 400px;
        width: 100%;
        display: flex;
        background-position: left;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
    }

    .header-title {
        gap: 38px;
        padding-right: 0;
    }

    .search-form {
        width: 80%;
    }

    .size {
        width: 354px;
        padding: 26px;
    }

    .navbar {
        width: 100%;
        padding: 0.5rem 4.37rem;
    }

    .navbar-brand {
        padding-left: 0;
        text-shadow: 0 0 #000;
    }

    .navbar-toggler {
        color: #000;
        border: none;
        padding: 0;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
}

@media screen and (min-width: 430px) and (max-width: 767px) {
    body .overlay {
        display: none;
    }

    main {
        padding: 1rem !important;
    }

    .hero {
        height: 400px;
        width: 100%;
        display: flex;
        background-position: left;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
    }

    .header-title {
        gap: 38px;
        padding-right: 0;
    }

    .search-form {
        width: 80%;
    }

    .size {
        width: 354px;
        padding: 26px;
    }

    .navbar {
        width: 100%;
        padding: 0.5rem 6.08rem;
    }

    .navbar-brand {
        padding-left: 0;
        text-shadow: 0 0 #000;
    }

    .navbar-toggler {
        color: #000;
        border: none;
        padding: 0;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header-title {
        gap: 200px;
        padding-right: 0;
    }

    .navbar {
        width: 100%;
        padding: 0.5rem 10.18rem;
    }

    .navbar-toggler {
        color: #000;
        border: none;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {

    .header-title {
        gap: 200px;
        padding-right: 0;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
}